@use "sass:meta";
@use "settings" as *;
@use "_common/utils" as *;

.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 10.5rem minmax(0, 1fr) 10.5rem;
  grid-template-areas: 'left-sidebar content right-sidebar';

  @include style-to-mobile() {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: 'content' 'left-sidebar' 'right-sidebar';
  }

  .right-sidebar {
    grid-area: right-sidebar;
  }

  .content {
    grid-area: content;
  }

  .left-sidebar {
    grid-area: left-sidebar;
  }
}

.content {
  margin-top: 5rem;

  @include style-to-mobile() {
    margin-top: 1rem;
  }
}

.post {
  max-width: $article-max-width;
  margin: 0 auto;
  @include meta.load-css('_post/header');
  @include meta.load-css('_post/content');
  @include meta.load-css('_post/copyright');
  @include meta.load-css('_post/reward');
  @include meta.load-css('_post/footer');
}

.comment {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: $article-max-width;
}

#load_disqus_container {
  display: flex;
  justify-content: center;
}

 // This is to match the color scheme of Disqus so that its background could be transparent
 // See: https://fvsch.com/transparent-iframes
.comment [id*="disqus"] iframe {
  color-scheme: light;
}

